body {
  background: rgb(24, 24, 24);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: white;
}

.title {
  margin: 2rem 0 1rem;
}

.App {
  text-align: center;
  background: rgb(24, 24, 24);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App div:nth-child(n + 10) {
  @media (max-width: 440px) {
    display: none;
  }
}

.App .shown {
  @media (max-width: 440px) {
    width: 100%;
  }
}

.image__container {
  width: 389px;
  background-size: no-repeat;
  background-color: black;
  cursor: pointer;
  position: relative;
  // display: inline-block;
  margin: 0.8rem;
  height: 94px;
  @media (max-width: 440px) {
    width: 90vw;
    margin: 0.8rem auto;
    background-size: cover;
  }
}

button {
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  color: white;
  margin: 0.5rem auto 1rem;
  @media (max-width: 440px) {
    display: block;
  }
}

.hidden {
  display: none;
}

.data {
  position: relative;
}

.dataButton {
  color: white;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  padding: 0.25rem;
  border-radius: 3px;
}

.characterContainer {
  display: flex;
  flex-direction: column;
}

.characterName {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.characterData {
  background: grey;
  margin: 1rem;
  color: black;
  // display: none;
  &__moves {
    display: flex;
    flex-wrap: wrap;
  }
  &__data {
    border: 1px solid black;
  }
}

table {
  background: white;
}
.tableName {
  background: white;
  color: black;
}
