.App {
  text-align: center;
  background: rgb(24, 24, 24);
}

.image__container {
  position: relative;
  background: black;
  display: inline-block;
  margin: 0.8rem;
  height: 94px;
}

span {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
