*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
body {
  background: #181818;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: white;
}
.title {
  margin: 2rem 0 1rem;
}
.App {
  text-align: center;
  background: #181818;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 440px) {
}
@media (max-width: 440px) {
  .shown {
    display: block;
    width: 100%;
  }
}
.image__container {
  width: 389px;
  background-size: no-repeat;
  background-color: black;
  cursor: pointer;
  position: relative;
  margin: 0.8rem;
  height: 94px;
}
@media (max-width: 440px) {
  .image__container {
    width: 90vw;
    margin: 0.8rem auto;
    background-size: cover;
  }
}
button {
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  color: white;
  margin: 0.5rem auto 1rem;
}
@media (max-width: 440px) {
  button {
    display: block;
  }
}
.hidden {
  display: none !important;
}
.dataButton {
  color: white;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  padding: 0.25rem;
  border-radius: 3px;
}
.characterContainer {
  display: flex;
  flex-direction: column;
}
.characterName {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.characterData {
  background: grey;
  margin: 1rem;
  color: black;
}
.characterData__moves {
  display: flex;
  flex-wrap: wrap;
}
.characterData__data {
  border: 1px solid black;
}
table {
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 75vw;
  border-spacing: 0;
  table-layout: auto;
}
@media (max-width: 860px) {
  table {
    left: 0;
    transform: translateX(0);
  }
}
table td {
  padding: 0.25rem;
}
table th {
  border-bottom: 1px solid #ccc;
  padding: 0.25rem;
}
table tbody:nth-child(odd) {
  background: #eee;
}
.tableName {
  color: white;
}
