*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.App {
  text-align: center;
  background: #181818;
}
.image__container {
  cursor: pointer;
  position: relative;
  background: black;
  display: inline-block;
  margin: 0.8rem;
  height: 94px;
}
.characterName {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
